header {
    text-align: center;
    line-height: normal;
}

#linkParagraph {
    font-style: italic;
}

article{
    text-align: center;
}


footer{
    text-align: center;
}

main{
    line-height: 1.25em;
}

h1{
    color:greenyellow;
    font: normal 2.5em/1.25em normal Georgia, 'Times New Roman', Times, serif;
}

h2{
    color:cyan;
    font-size: 1.875em;
    font-style: italic;
    font-weight: bold;
}

h3{
    color:mediumvioletred;
    font-size: 1.45em;
    font-style: italic;
    font-weight: normal;
}

h6{
    color:coral;
}

p{
    color:blueviolet;
    text-indent: 25px;
    font-size: 0.85em;
    font-style: normal;
    font-weight: normal;
}

p em{
    color:steelblue;
}

ul{
    list-style-type: disc;
    list-style-position: outside;
    list-style-image: url(star.png) ;
}

nav a:link{
    color:rgb(48, 0, 68);
}

nav a:visited{
    color:rgb(48, 0, 68);
}

nav a:hover{
    color:chocolate;
}

nav a:active{
    color:deeppink;
}

li{
    color:blueviolet;
}

h2,
h3,
h6,
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.25em;
}

nav{
    background-color:rgb(255, 80, 80);
    line-height: 200%;
    display: block;
}

nav li{
    display: inline;
    padding-right: 40px;
    list-style-type: none;
}

table{
    border: solid 2px chartreuse;
    border-collapse: collapse;
}

tr, td, th{
    border: solid 2px chartreuse;
    padding: 3px;
    text-align: center;
    background-color: rgb(183, 253, 143);
}

th{
    background-color: rgb(200, 116, 255);
}

caption{
    caption-side: top;
    font-weight: bold;
    margin: 5px;
}

body{
    background-color: black;
}

iframe{
    width: 815px;
    height: 600px;
}